body{
	font-family: Calibri;
	width: 50%;
    margin: auto;
}

h1{
	color: yellow;
	float: right;
	bottom: 105px;
	right: 100px;
}

h2{
	color: yellow;
	font-style: italic;
	font-family: Calibri;
}


.photo{
	width: 130px;
	float:right;
	display: block;
	margin-right: 30px;
	margin-top: -7px;

}

.imgMail{
	width: 50px;
	float: left;
}

.mail{
	background-color: white;
	display: block;
	color: black;
	border-style: dashed;
	height:20px;
	width:200px; 
	margin-left: 47px;

	
}

.imgTel{
	width: 60px;
	float: left;
}

.tel{
	background-color: white;
	display: block;
	color: black;
	border-style: dashed;
	margin-left:50px;
	margin-right: 500px;
}


.bandeau{
	background-color: 255,30,50;
	display: block;
	border-style: solid;

	width: 740px;
}

.titre{
	display:block;
	text-align: center;
	position: relative;
	
}


.info_perso{
	display: block;
	border-style:solid;
	width: 250px;
	margin-top: 20px;	
}

.form_exp{
	display:block;
	border-style:solid;
	width: 475px;
	margin-left: 265px;
	margin-top: -82px; 
}


.list_info{
	display: block;
	border-style:solid;
	width: 250px;
	margin-top: -750px;
	height: 744px;	
}


